body{
  background-color: lightyellow;

}
h2{
  text-align: center;
  font-style: italic;
  font-size: 90px;
    border-radius: 25%;
}
.frist{
  width: 50%;
  float: left;
  position: relative;
}
.second{
  margin-top: 0px;
  text-align: left;
  float:right ;
  position: absolute;
  right: 0%;
}

}
.one{
  border-radius: 25%;
}
